body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.box_animation {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    border: 3px solid slategrey;
    box-sizing: border-box;
    position: relative;
}

.rotate {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: anim-rotate 10s linear infinite;
}

.square {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: calc(50% - 200px / 2);
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    transform-style: preserve-3d;
    text-transform: uppercase;
}

.square:before {
    content: ' ';
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px);
}

.front {
    background-color: crimson;
    animation: square-rotation-front 10s linear infinite;
}

.back {
    background-color: seagreen;
    animation: square-rotation-back 10s linear infinite reverse;
}

@keyframes anim-rotate {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes square-rotation-front {
    0% {
        transform: rotateZ(0deg) translateZ(25px);
    }

    100% {
        transform: rotateZ(360deg) translateZ(25px);
    }
}

@keyframes square-rotation-back {
    0% {
        transform: rotateZ(0deg) translateZ(-25px) rotateY(180deg);
    }

    100% {
        transform: rotateZ(360deg) translateZ(-25px) rotateY(180deg);
    }
}